* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(180, 84%, 81%) ;
}
li {
    list-style: none;
}
a {
    text-decoration:none ;
    color: rgba(249, 246, 246, 0.932);
}
.list {
    list-style: disc;
    margin: 30px;
}
.card {
    background-color: blueviolet;
    margin: 20px;
    width: 150px;
    padding: 15px 10px;
    border-radius: 12px;
}