* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado {
    background-color: green;
    top: 0;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mensaje01 {
    font-size: 40px;
    color: white;
    margin-bottom: 1%;
}

.barramenu{
    background-color: black;
    margin-top: 70px;
    height: 70px;
}

.opciones{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    gap: 100px;
}

.opciones > a {
    color: white;
}

.section01{
    background-color: rgb(250, 227, 197);
    height: 400px;
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    gap: 30%;
}

.box1{
    background-color: rgb(250, 227, 197)
    height: 500px;
    width: 350px;
}

h1 {
    font-size: 52px;
    padding-top: 20px;
    padding-left: 10px;
}

p {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

button {
    height: 50px;
    width: 100px;
    background-color: limegreen;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    margin-left: 15px;
    border: none;
    border-radius: 10px;
}

.box2{
    height: 200px;
    width: 200px;
    margin-top: 115px;
    margin-left: 700px;
}

.section02{
    background-color: rgb(255, 255, 255);
    height: 335px;
    width: auto;
}

.section02 > div{
    background-color: rgb(217, 217, 217);
    height: 180px;
    width: auto;
    margin-left: 1%;
    border: solid gray;
    border-width: 1px;
}

.h201{
    margin-left: 2%;
    margin-top: 1%;
}

.section02 > div > ul{
    margin-left: 5%;
    font-size: 20px;
}

.h202{
    margin-left: 2%;
    margin-top: 1%;
}

.section03{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section03 > p{
    color: white;
    font-size: 24px;
}